body {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}

.container {
  height: 90vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.head {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(245, 245, 245);
  color: black;
}

.nav div {
  padding: 25px;
}

.nav div:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.left-content {
  float: left;
  color: whitesmoke;
  padding: 50px;
  font-family: sans-serif;
  width: 40vw;
}

.footer {
  height: 30px;
  background-color: rgb(196, 190, 190);
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px;
  text-align: center;
}

.right-content {
  float: right;
  color: whitesmoke;
  padding: 50px;
  font-family: sans-serif;
  width: 40vw;
  font-size: 0.8rem;
}

.right-content img {
  width: 40vw;
}

.right-content li {
  color: rgb(160, 155, 201);
}
